@page
@model SpotOn.Pages.Artisan.DetailsModel
@{
}

<style>
    .hidden {
        display: none
    }
</style>
<div class="page-content">

    <div class="card card-style " data-card-height="40vh" id="bg_img">
        <div class="card-top">
            <a href="/artisan" class="btn btn-s border-white color-white float-right mt-2 mr-2 rounded-sm" id="class_name">Artisans</a>
        </div>
        <div class="card-bottom ml-3 mr-3">
            <h1 class="font-40 line-height-xl color-white"><span id="f_name">My</span><br><span id="l_name">Name</span></h1>
            <p class="color-white opacity-60"><i class="fa fa-map-marker mr-2"></i><span id="dash_location">My Location</span></p>
            <p class="color-white opacity-80 font-15" id="dash_description">
                My profile here!
            </p>
            <div id="procreate" style="float:right" class="spinner-border mb-4 mr-4 color-green-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="card-overlay bg-gradient"></div>
    </div>


    <div class="list-group list-custom-small list-icon-0 hidden" id="call_button">
        <div class="card card-style">
            <div class="content mb-2">
                <a href="#" data-menu="menu-call">
                    <i class="fa fa-phone color-phone"></i>
                    <span>Call Artisan Now!</span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="_galShow" class="hidden">
    <div class="card card-style">
        <div class="content">
            <p class="mb-n1 color-highlight font-600">Artisan's Gallery</p>
            <h1>View Gallery</h1>
            <p>
                Below, you see images of previous job(s) already done by the artisan.
            </p>
        </div>
        <div id="load_gallery" style="" class="spinner-border mb-4 mr-4 color-green-dark hidden" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <a href="#" id="gal_1" data-gallery="gallery-1" class="default-link card card-style" data-card-height="450" title="Screaming Music">
        <div class="card-top">
            <span class="btn btn-m bg-red-dark rounded-sm font-700 scale-box float-end mt-2 me-2" id="d_1">Get it Today</span>
        </div>
        <div class="card-bottom">
            <div class="content text-end">
                <h1 class="color-white font-28" id="t_1">Creativity Unleashed</h1>
                <p class="color-white opacity-70" id="decs_1">
                    Appkit will make your creativity scream!<br>
                    Create awesome cards in minutes!
                </p>
            </div>
        </div>
        <div class="card-overlay bg-gradient opacity-70"></div>
    </a>
    <span id="row_2" class="hidden">
        <div class="divider divider-margins"></div>
        <a href="#" id="gal_2" data-gallery="gallery-1" class="default-link card card-style bg-6" data-card-height="450" title="Screaming Music">
            <div class="card-top">
                <span class="btn btn-m bg-red-dark rounded-sm font-700 scale-box float-end mt-2 me-2" id="d_2">Get it Today</span>
            </div>
            <div class="card-bottom">
                <div class="content text-end">
                    <h1 class="color-white font-28" id="t_2">Creativity Unleashed</h1>
                    <p class="color-white opacity-70" id="decs_2">
                        Appkit will make your creativity scream!<br>
                        Create awesome cards in minutes!
                    </p>
                </div>
            </div>
            <div class="card-overlay bg-gradient opacity-70"></div>
        </a>
    </span>
    <span id="row_3" class="hidden">
        <div class="divider divider-margins"></div>
        <a href="#" id="gal_3" data-gallery="gallery-1" class="default-link card card-style bg-6" data-card-height="450" title="Screaming Music">
            <div class="card-top">
                <span class="btn btn-m bg-red-dark rounded-sm font-700 scale-box float-end mt-2 me-2" id="d_3">Get it Today</span>
            </div>
            <div class="card-bottom">
                <div class="content text-end">
                    <h1 class="color-white font-28" id="t_3">Creativity Unleashed</h1>
                    <p class="color-white opacity-70" id="decs_3">
                        Appkit will make your creativity scream!<br>
                        Create awesome cards in minutes!
                    </p>
                </div>
            </div>
            <div class="card-overlay bg-gradient opacity-70"></div>
        </a>
    </span>
    <span id="row_4" class="hidden">
        <div class="divider divider-margins"></div>
        <a href="#" id="gal_4" data-gallery="gallery-1" class="default-link card card-style bg-6" data-card-height="450" title="Screaming Music">
            <div class="card-top">
                <span class="btn btn-m bg-red-dark rounded-sm font-700 scale-box float-end mt-2 me-2" id="d_4">Get it Today</span>
            </div>
            <div class="card-bottom">
                <div class="content text-end">
                    <h1 class="color-white font-28" id="t_4">Creativity Unleashed</h1>
                    <p class="color-white opacity-70" id="decs_4">
                        Appkit will make your creativity scream!<br>
                        Create awesome cards in minutes!
                    </p>
                </div>
            </div>
            <div class="card-overlay bg-gradient opacity-70"></div>
        </a>
    </span> 
</div>
<!------------->
<!------------->
<!--Menu Call-->
<!------------->
<!------------->
<div id="menu-call" class="menu menu-box-bottom rounded-m"
     data-menu-height="350"
     data-menu-effect="menu-over">
    <div class="menu-title">
        <p class="color-highlight">Just tap to</p>
        <h1>Call Now</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
    </div>
    <div class="content">
        <span id="tel"></span>
        @*<a href="tel:+2 234 567 890" class="btn btn-l font-14 shadow-l btn-full rounded-s font-600 bg-blue-dark text-start mb-2"><span class="ms-n2">Suppport Center:</span><span class="float-end me-n1">+2 234 567 890</span></a>
            <a href="tel:+3 234 567 890" class="btn btn-l font-14 shadow-l btn-full rounded-s font-600 bg-red-dark text-start"><span class="ms-n2">Emergency 24/7:</span><span class="float-end me-n1">+3 234 567 890</span></a>*@
        <p class="color-theme text-center font-10 opacity-30 pt-2 mt-2 mb-0 pb-0">SpotOn Artisan Number Available 24/7 </p>
    </div>
</div>
<!-- Page content ends here-->
<script type="text/javascript" src="~/scripts/UtilityScript.js"></script>
<script type="text/javascript" src="~/js/artisanScript.js"></script>


<script type="text/javascript">
    getArtisanDetail();
</script>
