@page
@model MeetSpotOn.Pages.CallMessageModel
@{
}

<div class="page-content">


    <div class="card card-style p-4 text-center">
        <p class="font-600 color-highlight mb-0">Error 404 - Page Not Found</p>
        <h1>Wooops! It's not Here!</h1>
        <p>
            Sorry, the page you're looking for cannot be found. How about checking some of the other awesome pages we have around?
        </p>
        <a href="#" data-back-button class="btn btn-m btn-center-m font-700 gradient-highlight rounded-s mb-3">Back Home</a>
    </div>

    <div data-menu-load="menu-footer.html"></div>
</div>
<!-- Page content ends here-->