@page
@model MeetSpotOn.Pages.callListContentModel
@{
    Layout = "shared/_callListLayout";
}

<div class="align-self-center border-left border-highlight pl-5">
    <a href="/" data-back-button class="font-25 font-700 color-white d-block mb-4 scale-box">Home</a>
    <a href="#" data-back-button class="font-16 opacity-60 color-white d-block my-4">Artisan</a>
    <a href="#" data-back-button class="font-16 opacity-60 color-white d-block my-4">Chef</a>
    <a href="/calllist" data-back-button class="font-16 opacity-60 color-white d-block my-4">Health</a>
    <a href="#" data-back-button class="font-16 opacity-60 color-white d-block my-4">Products</a>
    <a href="#" data-back-button class="font-16 opacity-60 color-white d-block my-4">Tutors</a>
    <a href="/contact" data-back-button class="font-16 opacity-60 color-white d-block mt-4">Contact</a>
</div>