@page
@model MeetSpotOn.Pages.ForgotModel
@{
}

<div class="page-content header-clear-medium">

    <div class="card card-style">
        <div class="content">
            <p class="font-600 color-highlight mb-n1">Reset Account</p>
            <h1 class="font-30">Forgot</h1>
            <p>
                Enter your email addresse below and we'll send you the reset Instruction Code.
            </p>
            <p>
                Already have an instruction code? <a href="#" data-menu="menu-instruction-code" class="color-highlight"> Click here</a>
            </p>

            <div class="input-style has-icon input-style-1 input-required">
                <i class="input-icon fa fa-at"></i>
                <span>Email</span>
                <em>(required)</em>
                <input type="name" id="confirm-email-address" placeholder="Email">
            </div>

            <a href="javascript:sendInstructionCode();" class="btn btn-full btn-l font-600 font-13 gradient-highlight mt-4 rounded-s">Send Reset Instructions</a>

            <div class="row pt-3 mb-0">
                <div class="col-6 text-left">
                    <a href="/login" class="color-highlight">Sign In</a>
                </div>
                <div class="col-6 text-right">
                    <a href="/userselect" class="color-highlight">Create Account</a>
                </div>
            </div>

        </div>
    </div>

</div>


<div id="snackbar-9" class="snackbar-toast color-white bg-highlight color-white" data-autohide="true"><i class="fa fa-sync fa-spin mr-3"></i>Processing...</div>

<div id="menu-instruction-code" class="menu menu-box-bottom rounded-m"
     data-menu-height="250"
     data-menu-effect="menu-over">
    <div class="menu-title">
        <p class="color-highlight">Let's get you into your account,</p>
        <h1 class="font-24">Instruction Code</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
    </div>

    <div class="content mt-0 mb-0">
        <div class="input-style has-icon input-style-1 input-required mb-4">
            <i class="input-icon fa fa-code"></i>
            <span>Instruction Code</span>
            <em>(required)</em>
            <input type="name" id="instruction-code" placeholder="Enter Instruction Code">
        </div>
        <a href="javascript:validateInstructionCode();" class="btn btn-full btn-m shadow-l rounded-s bg-highlight font-600 top-20">VALIDATE INSTRUCTION CODE</a>
    </div>
</div>


<!---------------->
<!---------------->
<!--Menu Sign In-->
<!---------------->
<!---------------->
<div id="menu-reset" class="menu menu-box-bottom rounded-m"
     data-menu-height="330"
     data-menu-effect="menu-over">
    <div class="menu-title">
        <h1 class="font-24">Reset Password</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
    </div>

    <div class="content mb-0 mt-0">
        <div class="input-style has-icon input-style-1 input-required">
            <i class="input-icon fa fa-lock font-11"></i>
            <span>Password</span>
            <em>(required)</em>
            <input type="password" id="new-password" placeholder="New Password">
        </div>
        <div class="input-style has-icon input-style-1 input-required">
            <i class="input-icon fa fa-lock font-11"></i>
            <span>Confirm Password</span>
            <em>(required)</em>
            <input type="password" id="cnf-password" placeholder="Password Confirmation">
        </div>

        <a href="javascript:changePassword();" class="btn btn-full btn-m shadow-l rounded-s font-600 bg-green-dark mt-4">Change Password</a>
    </div>
</div>

<!---------------->
<!---------------->
<!--Menu Warning-->
<!---------------->
<!---------------->
<div id="menu-warning-2" class="menu menu-box-bottom bg-red-dark rounded-m"
     data-menu-height="335"
     data-menu-effect="menu-over">
    <h1 class="text-center mt-4"><i class="fa fa-3x fa-times-circle scale-box color-white shadow-xl rounded-circle"></i></h1>
    <h1 class="text-center mt-3 text-uppercase color-white font-700">Wooops!</h1>
    <p class="boxed-text-l color-white opacity-70">
        You can continue with your previous actions.<br> The e-mail address is not with us.
    </p>
    <a href="#" class="close-menu btn btn-m btn-center-l button-s shadow-l rounded-s text-uppercase font-600 bg-white color-black">Hmmm, Check again?</a>
</div> 

<div id="menu-warning-1" class="menu menu-box-bottom rounded-m"
     data-menu-height="185"
     data-menu-effect="menu-over">
    <div class="menu-title">
        <i class="fa fa-times-circle float-left mr-3 scale-box ml-3 fa-4x color-red-dark"></i>
        <p class="color-highlight">The task has</p>
        <h1>Failed</h1>
        <a href="#" class="close-menu"><i class="fa fa-times-circle"></i></a>
    </div>
    <div class="content mt-0 mb-0">
        <p class="pr-3">
            This task has failed. Please verify the information you provided.
        </p>
    </div>
</div>
<script type="text/javascript" src="js/site.js"></script>


