@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="page-content">

    <div class="double-slider owl-carousel owl-no-dots">
        <div class="item">
            <div data-card-height="220" class="card shadow-xl rounded-m bg-6">
                <div class="card-bottom text-center">
                    <h4 class="color-white font-800 mb-3">Family Physician</h4>
                </div>
                <div class="card-overlay bg-gradient"></div>
            </div>
        </div>
        <div class="item">
            <div data-card-height="220" class="card shadow-xl rounded-m bg-16">
                <div class="card-bottom text-center">
                    <h4 class="color-white font-800 mb-3">Gynaecologist</h4>
                </div>
                <div class="card-overlay bg-gradient"></div>
            </div>
        </div>
        <div class="item">
            <div data-card-height="220" class="card shadow-xl rounded-m bg-19">
                <div class="card-bottom text-center">
                    <h4 class="color-white font-800 mb-3">Nutritionist</h4>
                </div>
                <div class="card-overlay bg-gradient"></div>
            </div>
        </div>
        <div class="item">
            <div data-card-height="220" class="card shadow-xl rounded-m bg-31">
                <div class="card-bottom text-center">
                    <h4 class="color-white font-800 mb-3">Paediatrician</h4>
                </div>
                <div class="card-overlay bg-gradient"></div>
            </div>
        </div>
        <div class="item">
            <div data-card-height="220" class="card shadow-xl rounded-m bg-33">
                <div class="card-bottom text-center">
                    <h4 class="color-white font-800 mb-3">Pandemic</h4>
                </div>
                <div class="card-overlay bg-gradient"></div>
            </div>
        </div>
    </div>


    <div class="card card-style shadow-xl">
        <div class="content">
            <p class="color-highlight font-600 mb-n1">A Complete Solution</p>
            <h1 class="font-24 font-700 mb-2">Meet Spot-On <i class="fa fa-star mt-n2 font-30 color-yellow-dark float-right mr-2 scale-box"></i></h1>
            <p class="mb-1">
                The ultimate Mobile Solution that connects you instantly to your immediate person of interest. Spot-On is packed to accommodate your interests in health-care, artisans, chefs, products, and tutors with many more features to be added in the near future.
            </p>
        </div>
    </div>


    <div class="card card-full-left card-style">
        <div class="content" id="docItems">



        </div>
    </div>
    <div class="row mb-5" id="item-preloader">
        <div class="col-12">
            <div class="d-flex justify-content-center">
                <div class="spinner-border color-blue-dark" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <a href="#" data-toggle-theme-switch>
        <div class="card card-style">
            <div class="d-flex pt-3 mt-1 mb-2 pb-2">
                <div class="align-self-center">
                    <i class="color-icon-gray color-gray-dark font-30 icon-40 text-center fa fa-moon ml-3 show-on-theme-light"></i>
                    <i class="color-icon-yellow color-yellow-dark font-30 icon-40 text-center fa fa-sun ml-3 show-on-theme-dark"></i>
                </div>
                <div class="align-self-center">
                    <p class="pl-2 ml-1 color-highlight font-500 mb-n1 mt-n1">Tap to Enable</p>
                    <h4 class="show-on-theme-light pl-2 ml-1 mb-0">Dark Mode</h4>
                    <h4 class="show-on-theme-dark pl-2 ml-1 mb-0">Light Mode</h4>
                </div>
                <div class="ml-auto align-self-center">
                    <div class="custom-control ios-switch mr-5 pr-2 mt-n2">
                        <input type="checkbox" class="ios-input" id="toggle-dark-switch">
                        <label class="custom-control-label" for="toggle-dark-switch"></label>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div data-menu-load="menu-footer.html"></div>
</div>
<script type="text/javascript" src="js/site.js"></script>
<script type="text/javascript">
    getItems();
</script>
