@page
@model MeetSpotOn.Pages.PackagesModel
@{
}

<div class="page-content">

    <div class="card card-style">
        <div class="content">
            <h4>Spot-On Packs</h4>
            <p>
                We've created a ton of awesome systems. Select a pack below.
            </p>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-green-dark ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 1</p>
            <h1 class="color-white">Spot-On Artisan <i class="fa fa-box color-white-light ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                Artisans are skilled at a wide range of repairs, typically around the home. 
                These tasks include trade skills, repair work, maintenance work, are both interior and exterior etc.

            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Artisan Pack</h1>
                <p class="opacity-60">
                    To request the services of artisans/handymen to assist you in repairs around your 
                    house/offices, please click this link to continue.
                    <a href="/construction" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-green-light"></i>
                        <span class="color-white">Go to Artisan</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-dark-fade ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 2</p>
            <h1 class="color-white">Spot-On Chef <i class="fa fa-utensil-spoon color-white-dark ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                A chef is a trained professional cook and tradesman who is proficient in all aspects of food preparation, 
                often focusing on a particular cuisine.
            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Chef Pack</h1>
                <p class="opacity-60">
                    To request the services of chefs for the preparation of that birthday, events, and even home cooking
                    ,please click this link to continue.
                    <a href="/construction" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-dark-light"></i>
                        <span class="color-white">Go to Chef</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-mint-light ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 3</p>
            <h1 class="color-white">Spot-On Health <i class="fa fa-heartbeat color-white-light ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                This is a large content card, it uses an awesome iOS styled desing with a large heading
                and over title.
            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Health Pack</h1>
                <p class="opacity-60">
                    To request the services of a health practitioner for medical advice and other general health tips
                    ,please click this link to continue.
                    <a href="/health" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-mint-light"></i>
                        <span class="color-white">Go to Health</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-brown-light ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 4</p>
            <h1 class="color-white">Spot-On Products <i class="fa fa-cart-arrow-down color-white-dark ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                This is a large content card, it uses an awesome iOS styled desing with a large heading
                and over title.
            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Product Pack</h1>
                <p class="opacity-60">
                    This is a large content card, it uses an awesome iOS styled desing with a large heading
                    and over title styled desing with a large heading.
                    <a href="/construction" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-brown-light"></i>
                        <span class="color-white">Go to Products</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-green-dark ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 5</p>
            <h1 class="color-white">Spot-On Tutors <i class="fa fa-chalkboard color-white-dark ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                This is a large content card, it uses an awesome iOS styled desing with a large heading
                and over title.
            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Tutor Pack</h1>
                <p class="opacity-60">
                    This is a large content card, it uses an awesome iOS styled desing with a large heading
                    and over title styled desing with a large heading.
                    <a href="/tutors" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-green-light"></i>
                        <span class="color-white">Go to Tutors</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="divider divider-margins"></div>

    <div class="card card-style bg-yellow-dark ml-0 mr-0 rounded-0">
        <div class="content">
            <p class="mb-n1 color-white opacity-50 font-600">Pack 6</p>
            <h1 class="color-white">Spot-On Taxis <i class="fa fa-taxi color-white-dark ml-3 font-34 mt-1"></i></h1>
            <p class="color-white opacity-60">
                This is a large content card, it uses an awesome iOS styled desing with a large heading
                and over title.
            </p>
        </div>
        <div class="card card-style ">
            <div class="content">
                <p class="mb-n1 font-600 color-dark-dark">View</p>
                <h1>Taxi Pack</h1>
                <p class="opacity-60">
                    This is a large content card, it uses an awesome iOS styled desing with a large heading
                    and over title styled desing with a large heading.
                    <a href="/construction" class="chip chip-s bg-green-dark">
                        <i class="fa fa-check color-white bg-yellow-light"></i>
                        <span class="color-white">Go to Taxis</span>
                    </a>
                </p>
            </div>
        </div>
    </div>


    <div class="divider divider-margins"></div>

    <div data-menu-load="menu-footer.html"></div>
</div>
<!-- Page content ends here-->
<!-- Main Menu-->
<div id="menu-main" class="menu menu-box-left rounded-0" data-menu-load="menu-main.html" data-menu-width="280" data-menu-active="nav-components"></div>

<!-- Share Menu-->
<div id="menu-share" class="menu menu-box-bottom rounded-m" data-menu-load="menu-share.html" data-menu-height="370"></div>

<!-- Colors Menu-->
<div id="menu-colors" class="menu menu-box-bottom rounded-m" data-menu-load="menu-colors.html" data-menu-height="480"></div> 