@page
@model MeetSpotOn.Pages.DoctorBoard.QuestionModel
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <title>Spot-On Mobile</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/fonts/css/fontawesome-all.min.css">
    <link rel="manifest" href="/_manifest.json" data-pwa-version="set_in_manifest_and_pwa_js">
    <link rel="apple-touch-icon" sizes="180x180" href="/app/icons/icon-192x192.png">
</head>

<body class="theme-dark">

    <div id="preloader"><div class="spinner-border color-highlight" role="status"></div></div>

    <div id="page">

        <div class="header header-fixed header-logo-center header-auto-show">
            <a href="index.html" class="header-title">Subscriptions</a>
            <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
            <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
            <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
        </div>


        <div class="page-content pb-0">
            <div class="card rounded-0 check-card" data-card-height="cover">
                <div class="card-center text-center pl-3">
                    <h1 class="font-40 font-800 pb-3">Spot<span class="gradient-highlight p-2 mx-1 color-white scale-box d-inline-block rounded-s border-0">On</span></h1>
                    <h5 class="mt-n3 opacity-30">Powered by bitCrunch.</h5>
                    <h4 class="boxed-text-xl pt-4 line-height-l"> Your call with <span id="clid"></span> was successful! Does the client need prescription?</h4>
                    <br />
                    <button onclick="javascript:NoPrescribe();" class="btn btn-center-l btn-m bg-red-dark font-600">No, close</button>
                    <br />
                    <button onclick="javascript:YesPrescribe();" class="btn btn-center-l btn-m bg-green-dark font-600">Yes! Proceed</button>

                </div>
            </div>
        </div>
        <!-- Page content ends here-->
        
    </div>
    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/custom.js"></script>
    <script type="text/javascript">

        var _query = location.search.split('=');
        console.log(location.search);
        console.log(_query[1].split(',')); 

        $("#clid").html(_query[1].split(',')[0]); 

        function YesPrescribe() {
            location.href = "/doctorboard/history?pres=" + _query[1];
        }

        function NoPrescribe() {
            location.href = "/doctorboard";
        }
    </script>
</body>
</html>