@page
@model SpotOn.Pages.Tutors.AdvertPageModel
@{
}

<div class="page-content pb-0">


    <div class="cover-slider owl-carousel owl-dots-cover" id="tutor_advert_lists">
         
    </div>
    <div id="pro_ads" style="float:right" class="spinner-border mr-4 color-green-dark hidden" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<input type="hidden" id="AdvertPages" />


<script type="text/javascript" src="~/js/tutorScript.js"></script>